body {
  margin: 20px;
  background-color: #873aa0;
  font-family: "Architects Daughter", cursive;
}

ol,
ul,
li {
  padding-left: 30px;
  margin: 5px;
}

.game-board {
  position: relative;
}
.b1 {
  position: relative;
  top: 200px;
  right: 180px;
  width: 80px;
  height: 60px;
  border: 1px solid #aa03a9;
}
.b2 {
  position: relative;
  top: 200px;
  right: 170px;
  width: 80px;
  height: 60px;
}
.board_div {
  border: 5px solid #521b34;
  padding: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 55px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: centeR;
  width: 55px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  padding: 80px 0;
  justify-content: center;
}

@media screen and (max-width: 815px) {
  .square {
    width: 30px;
    height: 30px;
    color: red;
  }
}
.game-info {
  margin-left: 20px;
}

h1 {
  font-family: "Shizuru", cursive;
}

button {
  padding: 5px;
  border: none;
  background-color: #f26852;
}

.thestatus {
  color: rgb(255, 0, 157);
}

.thestatuswin {
  font-weight: bolder;
  letter-spacing: 1px;
  animation-name: colorPalette;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  /* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
}
@keyframes colorPalette {
  0% {
    color: #ee6055;
  }
  25% {
    color: #60d394;
  }
  50% {
    color: #aaf683;
  }
  75% {
    color: #ffd97d;
  }
  100% {
    color: #ff9b85;
  }
}
